extends layout

include _includes/sharedHTMLfunctions.pug

block content
  .row.page-header
    .col-lg-12
      h1 About MinesList
  .row
    .col-xs-12
        .row
          .col-xs-12
            p Welcome to MinesList! Sell and buy things with the Mines campus! Yes, we stole the name from the Facebook selling page. Don't worry about it. What we have hear is a simple bartering system. Look at items, add items, purchase items to remove them forever for everyone else. 
            p This project is the best for a couple reasons. First, it looks great. Second, the logging in works great (try it, you'll see!). Lastly, because it's simple and works! 
            p MinesList was made for the Node option 1. We created a simple way for users to log in. When not logged in, you can not view specific items, purchase items, or sell items. 