extends layout

include _includes/sharedHTMLfunctions.pug
                    
block content
    .row.page-header
      .col-lg-12
        h1= pageHeader.title
    .row
      .col-xs-12
        .row
          .col-xs-12 When logged in, this page displays a list of the items uploaded and ready to be sold.
